---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/blog/*.mdx");
---

<Layout title="Dirivial | Blog">
  <main>
    <div class="pt-8 flex flex-row items-center">
      <div class="h-2 w-1/6 bg-gray-600 rounded-lg"></div>
      <h1 class="text-gradient p-2 -translate-y-1 text-5xl">Blog</h1>
      <div class="h-2 w-full bg-gray-600 rounded-lg"></div>
    </div>

    {
      allPosts.map((post) => (
        <li class="rounded m-2 hover:scale-105 hover:bg-gray-800 transition duration-125 delay-75 list-none">
          <a href={post.url}>
            <div class="p-4">
              <h3 class="text-xl text-teal-500">{post.frontmatter.title}</h3>
              <p>{post.frontmatter.description}</p>
              {new Date(post.frontmatter.pubDate).toDateString()}
            </div>
          </a>
        </li>
      ))
    }
  </main>
</Layout>
<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  a {
    color: var(--grey-7);
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: thin;
  }
</style>
