---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dirivial | FAQ">
  <main>
    <div class="pt-8 flex flex-row items-center">
      <div class="h-2 w-1/6 bg-gray-600 rounded-lg"></div>
      <h1 class="text-gradient p-2 -translate-y-1 text-5xl">FAQ</h1>
      <div class="h-2 w-full bg-gray-600 rounded-lg"></div>
    </div>

    <div class="flex flex-col items-center mt-6 mb-16">
      <section class="w-5/6">
        <div class="flex flex-col space-y-4">
          <div class="flex flex-col space-y-2">
            <h3 class="text-2xl text-gray-400">
              What is the origin of the name Dirivial?
            </h3>
            <p class="text-gray-400">
              I came up with the name Dirivial when I was thinking of a name for
              me to use online instead of my real name. I like the band Dire
              Straights so I thought I could include that somehow (Hence 'Di').
              For the rest of the name I just went to <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://www.dictionary.com/">dictionary.com</a
              > and took the daily word 'Trivial'. I then combined the two to get
              'Dirivial'.
            </p>
          </div>
          <div class="flex flex-col space-y-2">
            <h3 class="text-2xl text-gray-400">
              What is your text editor of choice?
            </h3>
            <p class="text-gray-400">
              I mainly use VSCode, but I also like to use Neovim when I'm
              feeling spicy. If you want to get started with Neovim, I recommend <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://www.lunarvim.org/">lunarvim</a
              >
            </p>
          </div>
          <div class="flex flex-col space-y-2">
            <h3 class="text-2xl text-gray-400">What is your favorite OS?</h3>
            <p class="text-gray-400">
              I currently use MacOS, <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://artixlinux.org/">Artix Linux</a
              > (I wouldn't recommend this to a new linux user, choose something
              else like <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://pop.system76.com/">PopOS</a
              >) and Windows 10 on a fairly regular basis. Windows is mostly
              just to play games but the other two are my main OSes.
            </p>
          </div>
          <div class="flex flex-col space-y-2">
            <h3 class="text-2xl text-gray-400">
              What color scheme do you use?
            </h3>
            <p class="text-gray-400">
              I'm currently heavily using the <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://github.com/catppuccin">catppuccin</a
              > theme for Neovim and VSCode. I have even configured my linux setup
              to use that theme.
            </p>
          </div>

          <div class="flex flex-col space-y-2">
            <h3 class="text-2xl text-gray-400">
              Which terminal emulator do you use?
            </h3>
            <p class="text-gray-400">
              I use <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://sw.kovidgoyal.net/kitty/">Kitty</a
              > on linux and <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://iterm2.com/">iTerm2</a
              > on MacOS.
            </p>
          </div>

          <div class="flex flex-col space-y-2">
            <h3 class="text-2xl text-gray-400">
              Do you have a favorite framework for web development?
            </h3>
            <p class="text-gray-400">
              I like to use <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://astro.build/">Astro</a
              > for static websites like this one and <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://create.t3.gg/">create-t3-app</a
              > for full-stack projects.
            </p>
          </div>

          <div class="flex flex-col space-y-2">
            <h3 class="text-2xl text-gray-400">
              What programming languages do you know?
            </h3>
            <p class="text-gray-400">
              I have a couple of different languages, but I mainly use <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://www.typescriptlang.org/">TypeScript</a
              > for personal projects and for random things like <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://adventofcode.com/">AOC</a
              > . In school I have had to use C quite a lot, as well as some Java.
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
