---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dirivial | FAQ">
  <main>
    <div class="pt-8 flex flex-row justify-around items-center">
      <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-arrow-thin-left-circle fill-white w-10 hover:fill-slate-400 hover:-translate-x-1 transition-all"><path class="secondary" d="M9.41 11H17a1 1 0 0 1 0 2H9.41l2.3 2.3a1 1 0 1 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L9.4 11z"/></svg>
      </a>
      <h1
        class="text-white epic-text text-4xl align-middle tracking-wider underline underline-offset-8 decoration-2"
      >
        ABOUT
      </h1>
      <div/>
    </div>

    <div class="flex flex-col items-center justify-center mt-6 mb-16">
      <section class="pt-12 w-5/6">
        <div class="grid gap-y-8 grid-cols-1 justify-items-center">
          <div class="flex flex-col space-y-2 items-center w-3/4">
            <h3 class="text-2xl text-gray-300 text-center">
              What is the origin of the name Dirivial?
            </h3>
            <p class="text-gray-400 p-2">
              It is relatively straight forward, I like the band Dire Straights
              so I thought I could include that somehow (Hence 'Di'). For the
              rest of the name I just went to <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://www.dictionary.com/">dictionary.com</a
              > and took the daily word 'Trivial'. I then combined the two to
              get 'Dirivial'.
            </p>
          </div>
          <div class="flex flex-col space-y-2 items-center w-3/4">
            <h3 class="text-2xl text-gray-200  text-center">
              What is your text editor of choice?
            </h3>
            <p class="text-gray-400">
              I mainly use VSCode, but I also like to use Neovim whenever I'm
              feeling spicy. If you want to get started with Neovim, I recommend

              <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://www.lunarvim.org/">lunarvim</a
              >
            </p>
          </div>
          <div class="flex flex-col space-y-2 items-center w-3/4">
            <h3 class="text-2xl text-gray-300 text-center">What is your favorite OS?</h3>
            <p class="text-gray-400">
              I currently use MacOS, <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://artixlinux.org/">Artix Linux</a
              > (I wouldn't recommend this to a new linux user, choose something
              else like <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://pop.system76.com/">PopOS</a
              >) and Windows 10 on a fairly regular basis. Windows is mostly
              just to play games but the other two are my main OSes.
            </p>
          </div>
          <div class="flex flex-col space-y-2 items-center w-3/4">
            <h3 class="text-2xl text-gray-300  text-center">
              What color scheme do you use?
            </h3>
            <p class="text-gray-400">
              I'm currently heavily using the <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://github.com/catppuccin">catppuccin</a
              > theme for Neovim and VSCode. I have even configured my linux
              setup to use that theme.
            </p>
          </div>

          <div class="flex flex-col space-y-2 items-center w-3/4">
            <h3 class="text-2xl text-gray-300">
              Which terminal emulator do you use?
            </h3>
            <p class="text-gray-400">
              I use <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://sw.kovidgoyal.net/kitty/">Kitty</a
              > on linux and <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://iterm2.com/">iTerm2</a
              > on MacOS.
            </p>
          </div>

          <div class="flex flex-col space-y-2 items-center w-3/4">
            <h3 class="text-2xl text-gray-300 text-center">
              Do you have a favorite framework for web development?
            </h3>
            <p class="text-gray-400">
              I like to use <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://astro.build/">Astro</a
              > for static websites like this one and <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://create.t3.gg/">create-t3-app</a
              > for full-stack projects.
            </p>
          </div>

          <div class="flex flex-col space-y-2 items-center w-3/4">
            <h3 class="text-2xl text-gray-300 text-center">
              What programming languages do you know?
            </h3>
            <p class="text-gray-400">
              I have a couple of different languages, but I mainly use <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://www.typescriptlang.org/">TypeScript</a
              > for personal projects and for random things like <a
                class="font-bold text-gray-300"
                target="_blank"
                href="https://adventofcode.com/">AOC</a
              > . In school I have had to use C, Java and Python for different
              courses.
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
