---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Dirivial | Home">
  <main>
    <div class="centeredContent">
      <div class="grid grid-cols-3">
        <div class="pt-16 pb-8 flex flex-col justify-around translate-x-4">
          <a class="text-right">Github</a>
          <a class="text-right">Blog</a>
        </div>
        <div class="flex flex-col items-center">
          <h1 class="text-gradient p-2">Dirivial</h1>
          <img
            class="text-center rounded-full border-2 pfp w-40"
            src="/pfp.ico"
          />
          <div class="p-2"></div>
          <p class="text-bold text-lg">A CS student from Sweden</p>
        </div>
        <div class="pt-16 pb-8 flex flex-col justify-around -translate-x-4">
          <a class="">FAQ</a>
          <a class="">Email</a>
        </div>
      </div>
    </div>
    <div class="p-4"></div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    margin-top: 10vh;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: var(--grey-7);
    font-family: "Railway", serif;
    font-size: 1rem;
    font-weight: bold;
  }

  .github {
    background-color: var(--grey-0);
    border-color: var(--grey-1);
    box-shadow: 0px 0px 10px var(--grey-1);
  }
  .pfp {
    border-color: var(--grey-1);
    box-shadow: 0px 0px 10px var(--grey-1);
  }
  .dark {
    background-color: var(--grey-0);
  }
  a {
    color: var(--grey-4);
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
  }

  .centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
