---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Dirivial | Home">
  <main class="">
    <div class="flex flex-col items-center justify-center h-screen">
      <h1
        id="name"
        class="absolute text-white opacity-100 -translate-y-14 z-10 epic-text text-7xl font-semibold align-middle tracking-wider underline underline-offset-8 decoration-2 transition-all duration-300"
      >
        DIRIVIAL
      </h1>
      <p id="subtext" class="pt-2 z-10 font-medium text-xl"></p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 z-10 stroke-white absolute bottom-0 animate-bounce"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m19.5 8.25-7.5 7.5-7.5-7.5"
          class=""></path>
      </svg>
    </div>

    <div class="gridpattern">
      <div
        class="z-20 bg-gradient-to-r from-black via-transparent to-black w-full h-full"
      >
        <div
          class="z-20 pt-44 pb-52 bg-gradient-to-b from-black via-transparent to-black w-full h-full"
        >
          <p class="w-3/5 md:text-2xl text-xl text-center mx-auto">
            Hi there! I'm a programmer who likes to do some web & game
            development in his free time.
          </p>

          <div
            class="pt-16 flex flex-row justify-around xl:justify-evenly flex-wrap gap-8 xl:w-2/5 lg:w-1/2 md:w-3/4 w-5/6 mx-auto"
          >
            <a
              href="https://github.com/Dirivial"
              class="text-xl sm:text-2xl w-2/5 xl:w-1/4 sm:w-1/4 py-2 text-white border-2 rounded-md border-white text-center font-medium hover:text-slate-900 hover:bg-white delay-0 duration-300 transition-all"
              >Github</a
            >
            <a
              href="https://twitter.com/Dirivial"
              class="text-xl sm:text-2xl w-2/5 xl:w-1/4 sm:w-1/4 py-2 text-white border-2 rounded-md border-white text-center font-medium hover:text-slate-900 hover:bg-white delay-0 duration-300 transition-all"
              >Twitter</a
            >

            <a
              href="https://www.youtube.com/channel/UC0Awfhr7Yl0tRYrVD2K6ZsQ"
              class="text-xl sm:text-2xl w-2/5 xl:w-1/4 sm:w-1/4 py-2 text-white border-2 rounded-md border-white text-center font-medium hover:text-slate-900 hover:bg-white delay-0 duration-300 transition-all"
              >YouTube</a
            >
            <a
              href="/blog"
              class="text-xl sm:text-2xl w-2/5 xl:w-1/4 sm:w-1/4 py-2 text-white border-2 rounded-md border-white text-center font-medium hover:text-slate-900 hover:bg-white delay-0 duration-300 transition-all"
              >Blog</a
            >
            <a
              href="/faq"
              class="text-xl sm:text-2xl w-2/5 xl:w-1/4 sm:w-1/4 py-2 text-white border-2 rounded-md border-white text-center font-medium hover:text-slate-900 hover:bg-white delay-0 duration-300 transition-all"
              >About</a
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="z-20 w-full h-full bg-gradient-to-b from-black to-black via-slate-950"
    >
      <div
        class="pt-16 flex flex-col items-center from-black to-black bg-gradient-to-r via-transparent"
      >
        <h1
          class="py-16 text-white epic-text text-4xl align-middle tracking-wider underline underline-offset-8 decoration-2"
        >
          PROJECTS
        </h1>

        <div class="grid md:grid-cols-2 gird-cols-1 gap-8 w-3/5">
          <Card
            title="SmolPad"
            body="A terminal text editor."
            href="https://github.com/Dirivial/SmolPad"
          />
          <Card
            title="Nutlang"
            body="A nutty programming language."
            href="https://github.com/Dirivial/Nutlang"
          />
          <Card
            title="CastleMania"
            body="A 3D game made in unity to learn wave function collapse."
            href="https://github.com/Dirivial/CastleMania"
          />
          <Card
            title="SmolChat"
            body="A small chat application in the terminal using sockets & ncurses."
            href="https://github.com/Dirivial/SmolChat"
          />
        </div>
      </div>
    </div>

    <div class="p-16">
      <!-- <div
        class="pt-8 grid grid-cols-1 xl:gap-16 gap-8 w-1/3 xl:w-1/12 lg:w-2/12 mx-auto"
      >
        <a
          href="mailto:alexander.kadeby@gmail.com"
          class="text-2xl py-2 linkthing text-white border-2 rounded-md border-white text-center font-medium hover:text-slate-800 hover:bg-white delay-0 duration-300 transition-all"
          >E-Mail</a
        > -->
    </div>
  </main>
</Layout>

<script is:inline>
  var final = "or just call me Alex.";

  var id = setInterval(animateSubtext, 100);

  function animateSubtext() {
    var subtext = document.getElementById("subtext");
    if (subtext && subtext.innerHTML.length < final.length) {
      subtext.innerHTML = final.substring(0, subtext.innerHTML.length + 1);
    } else {
      clearInterval(id);
    }
  }
</script>

<style>
  .linkthing {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  @-webkit-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  @-moz-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
  @-ms-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .stars {
    background: #000;
    z-index: 0;
  }

  .twinkling {
    background: transparent
      url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
      top center;
    z-index: 1;

    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
  }

  .gridpattern {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #80808080 1px, transparent 1px),
      linear-gradient(to bottom, #80808080 1px, transparent 1px);
  }
</style>
