<div class="centeredContent">
  <div class="grid grid-cols-3">
    <div class="pt-8 pb-8 flex flex-row justify-evenly gap-12">
      <a
        href="/blog"
        class="transition ease-in-out delay-75 duration-100 text-gray-600 hover:text-teal-500 hover:scale-105 text-right"
        >Blog</a
      >
      <a
        href="/faq"
        class="text-right transition ease-in-out delay-75 duration-100 text-gray-600 hover:text-teal-500 hover:scale-105"
        >FAQ</a
      >
    </div>
    <div class="m-auto">
      <a href="/">
        <img
          class="text-center rounded-full border-2 pfp w-16 transition ease-linear delay-75 duration-300 hover:scale-95"
          src="/pfp.ico"
        />
      </a>
    </div>

    <div class="pt-8 pb-8 flex flex-row justify-evenly gap-12">
      <a
        class="transition ease-in-out delay-75 duration-100 text-gray-600 hover:text-teal-500 hover:scale-105"
        href="https://github.com/Dirivial"
        target="_self">Github</a
      >
      <a
        class="transition ease-in-out delay-75 duration-100 text-gray-600 hover:text-teal-500 hover:scale-105"
        >Email</a
      >
    </div>
  </div>
</div>

<style>
  .centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
