---
export interface Props {
  title: string;
  description: string;
  publicationDate: Date;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/pfp.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Quicksand"
    />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --grey-0: hsl(0, 0%, 13%);
    --grey-1: hsl(0, 0%, 23%);
    --grey-2: hsl(0, 0%, 32%);
    --grey-3: hsl(0, 0%, 38%);
    --grey-4: hsl(0, 0%, 49%);
    --grey-5: hsl(0, 0%, 62%);
    --grey-6: hsl(0, 0%, 69%);
    --grey-7: hsl(0, 0%, 81%);
    --grey-8: hsl(0, 0%, 88%);
    --grey-9: hsl(0, 0%, 97%);
    --teal-0: hsl(176, 100%, 13%);
    --teal-1: hsl(172, 98%, 20%);
    --teal-2: hsl(172, 94%, 26%);
    --teal-3: hsl(170, 91%, 32%);
    --teal-4: hsl(168, 78%, 41%);
    --teal-5: hsl(166, 64%, 49%);
    --teal-6: hsl(164, 70%, 63%);
    --teal-7: hsl(162, 73%, 74%);
    --teal-8: hsl(163, 75%, 87%);
    --teal-9: hsl(165, 67%, 96%);

    --accent: 187, 0, 14;
    --accent-gradient: linear-gradient(
      20deg,
      var(--teal-0),
      var(--teal-3) 30%,
      var(--teal-9) 60%
    );
    --teal-gradient: linear-gradient(
      90deg,
      var(--teal-0),
      var(--teal-3) 50%,
      var(--teal-5) 100%
    );
    --teal-gradient-rev: linear-gradient(
      225deg,
      var(--teal-5),
      var(--teal-3) 25%,
      var(--teal-0) 80%
    );
  }
  html {
    font-family: "Roboto", system-ui, sans-serif;
    background-color: var(--grey-0);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  main {
    margin: auto;
    margin-top: 2vh;
    max-width: 100ch;
  }

  p {
    color: var(--grey-7);
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: thin;
  }
</style>
